* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.login-container {
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 500px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-container {
    flex: 1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-box {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    color: #fff;
}

.title {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.highlight {
    color: #4CAF50; /* Matching the green text in the image */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    padding: 15px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #3A70C9;
}
